@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Source+Code+Pro:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Klee+One&family=Source+Code+Pro:wght@200;300;400;500&display=swap');
$color-primary: #C4CF95;
$primary-txt: #094C44;
$primary-hover: #A3B240;
$btn-txt-hover: #40531B;
$primary-btn: #735956;
$object-main: #DDE4D5;
$object-mainDown: #D5DDC0;

$font-primary: 'Source Code Pro', monospace;
$font-secondary: 'Klee One', cursive;

@mixin desktop() {
	@media (max-width: 600px) {
		@content;
	}
}

@mixin standardBtn {
	
}

@mixin buttonIntxt() {
	.btn {
		border: 4px solid $primary-btn;
		background-color: $primary-btn;
		color: $color-primary;

	}
		.btn:hover {
			border: 4px solid $primary-hover;
			background-color: $primary-hover;
			color: $btn-txt-hover;
		}
}